{% extends 'frames/base.html' %} 
{% load i18n %}

{% block title %} Cindy - login {% endblock %} 

{% block content %} 

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action="{% url 'sui_hei:login' %}" method="post">
{% csrf_token %}
<p>
{% if error_message %} <strong>{{ error_message }}</strong> {% endif %}
</p>
<table>{{ form.as_table }}</table> <input type="submit" value="Confirm" />

<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %} 
