{% extends 'frames/base.html' %} 
{% load i18n %}

{% block title %} Cindy - password change {% endblock %} 

{% block content %} 
<div class="panel panel-default">
  <div class="panel-heading">{% trans 'Change Password' %}</div>
{% if not user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}

<form action="{% url 'sui_hei:password_change' %}" method="post" class="row">
  <div class="col-xs-12">
    {% csrf_token %}
    <p>
    {% if error_message %} <strong>{{ error_message }}</strong> {% endif %}
    </p>
    <table class="table">{{ form.as_table }}</table>
    <input type="submit" value="Confirm" />
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endif %}

{% endblock %} 
