.wrapper {
  border: 3px solid #2aa198;
  border-radius: 5px;
  width: 100%;
}
.hline {
  border-top: 1px solid #839496;
  width: 95%;
}
.clear {
  clear: both;
}
textarea {
  padding: 6px;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1;
  margin-top: 10px;
  height: 100px;
  width: 98%;
}
input[type="submit"] {
  background: #2bc1f2;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 25px;
}
button {
  background: #2bc1f2;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
}
input[type="button"] {
  background: #2bc1f2;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 25px;
}
input[type="text"] {
  margin-top: 10px;
  padding: 6px;
  width: 99%;
  font-size: 15px;
  padding: 8px 0;
  border-radius: 2px;
  border: 3px solid #98d0f1;
}
.list-nav li {
  display: table-cell;
  vertical-align: middle;
  background: #fcf4dc;
  border: 3px solid #5856b9;
  border-radius: 25px;
}
.list-nav a {
  height: auto;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #2075c7;
  padding: 8px;
  font-size: 16px;
}
.child-nav li {
  border: 3px solid #2075c7;
}
.child-nav a {
  color: #2075c799;
  padding: 1px;
  font-size: 14px;
}
.status_label {
  float: left;
  width: 70px;
  text-align: center;
  border-radius: 10px;
}
.solved {
  border: 1px solid #859900;
}
.unsolved {
  border: 1px solid #cb4b16;
}
.process_label {
  text-align: center;
  padding: 3px;
  border-radius: 10px;
}
.unanswered {
  background: #b58900;
  font-weight: bold;
  color: #eee8d5;
}
.answered {
  background: #859900cc;
  font-weight: bold;
  color: #eee8d5;
}
.title_label {
  width: 50%;
  padding-left: 10px;
}
body {
    background: #fdf6e360;
