.leftbar {
    position: fixed;
    width: 38.2%;
    top: 50px;
    left: -31%;
    z-index: 99;
}
.leftbar_content {
    position: relative;
    top: 50px;
    width: "90%";
    border-radius: 5px;
    background: #eee8d5;
    z-index: 100;
}
.leftbar_button {
    position: fixed;
    left: 0%;
    z-index: 98;
}
