#slider {
  width: 500px;
  top: 100px;
  position: absolute;
}
#containerbar {
  height: 520px;
  position: absolute;
  right: 200;
  border: 1px solid #d8d8d8;
  margin-left: 40px;
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 8px gray;
}
#leftbar {
  position: absolute;
  background: #2bc1f2;
  top: 100px;
  left: 83px;
  box-shadow: 0 0 8px gray;
}
#leftbar1 {
  position: absolute;
  background: #2bc1f2;
  top: 100px;
  left: 83px;
  box-shadow: 0 0 8px gray;
}
select {
  padding: 6px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1;
}
