{% load i18n %}
<span>
{% if user.is_authenticated %}
{% trans "Welcome, "%} <a href="/profile/{{ user.id }}">{{ user.nickname }}</a>.
    [<a href="/users/logout">{% trans 'logout' %}</a>]
{% else %}
[<a href="/users/add">{% trans 'register' %}</a>]
[<a href="/users/login">{% trans 'login' %}</a>]
{% endif %}
</span>


<h4 id='site-navigations'>{% trans 'Site Navigations' %}</h4>
<ul class = "list-nav">
    <li><a href='/' class='uri'>{% trans 'homepage' %}</a></li>
    <li><a href='/mondai' class='uri'>{% trans 'mondai' %}</a></li>
    <li><a href='/lobby' class='uri'>{% trans 'lobby' %}</a></li>
</ul>
