{% load i18n static markdown iterutil %} 
<script type="text/javascript">
    require(['jquery'], function ($) {
        // Set redirection url for `edit`
        var PageURL = window.location.pathname;
        $("a.chat_edit").each(function () {
            this.href += '?next=' + PageURL;
        });

        // Set Height
        var goodh = window.innerHeight - 20;
        if (goodh < 400) { goodh = window.innerHeight; }
        var $leftbarbtn = $(".leftbar_button");
        resize_rate = $leftbarbtn.height() / (window.innerHeight * 0.45);
        $leftbarbtn
          .css("height", $leftbarbtn.height() / resize_rate + "px")
          .css("width", $leftbarbtn.width() / resize_rate + "px");

        var nav_height = 60;
        var chat_height = 60;
        var table_height = goodh - nav_height - chat_height - 5;
        $(".lobby_navigation_div").css("height", nav_height + "px");
        $(".lobby_chat_div").css("height", nav_height + "px");
        $(".lobby_table_div").css("height", table_height + "px");

        // handling chat://
        var lc = $("td#message").each( function (index) {
            $(this).html($(this).html().replace(/\"chat:\/\/([0-9a-zA-Z\-]+)\"/g, "\"javascript:OpenChat('$1');\""));
        });
    });
</script>
<div class="lobby_navigation_div">
    {% include 'frames/pagination.html' with page_obj=chatlist is_paginated=True id_prefix="lobby_nav_" isbtn=True next_click="NextChatPage" prev_click="PrevChatPage" %}
    <form class="channel" id="change_channel_form" method="get" onsubmit="return ChangeChannel()">
        <input name="change_channel" type="text" id="lobby_nav_input"
        oninput="InputNorm()" placeholder="current_channel: {{ channel }}">
        <input value="{% trans 'Change channel' %}" type="submit" id="lobby_nav_submit">
    </form>
</div>

<div class="lobby_table_div">
    <table class="lobby_table" style="width:100%; height:93%; margin-top: 2px;">
        {% for chat in chatlist|inv %} 
        <tr>
            <th id="user" style="width: 33%;"> 
                <a href="{% url 'sui_hei:profile' chat.user_id.id %}">{{ chat.user_id.nickname }}</a>
                {% if chat.user_id.current_award %}[{{ chat.user_id.current_award }}]{% endif %}
            </th>
            <td id="message">{{ chat.content|line2md|safe }}
                {% if chat.user_id == user %}
                <a class="chat_edit" href="{% url 'sui_hei:mondai_change' 'Lobby' 'content' chat.id %}">
                [{% trans 'edit' %}]</a>{% endif %}</td>
        </tr>
        {% endfor %} 
    </table>
</div>

{% if channel|startswith:"comments-" %}
{% elif user.is_authenticated %} 
<form class="lobby_chat_div" action="{% url 'sui_hei:lobby_chat' %}" method="post" onsubmit="return PostChat()">
    {% csrf_token %}
    <table class="push_chat">
        <input id="lobby_chat_input" name="push_chat" type="text">
        <input id="lobby_chat_submit" value={% trans 'Send' %}/{% trans 'Update' %} type="submit">
        <input id="channel" type="text" value="{{ channel }}" style="visibility:hidden">
    </table>
</form>
{% endif %} 

