{% load i18n static %} 
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %} 
            {% if isbtn %}
            <button id="{{ id_prefix|default:"" }}prev" value="{{ page_obj.previous_page_number }}"> {% trans 'prev' %}</button>
            {% else %}
            <a id="{{ id_prefix|default:"" }}prev" 
                href="{{ path|default:request.path }}{{ ln_prefix|default:"" }}{{ page_obj.previous_page_number }}">{% trans 'prev' %}</a>
            {% endif %}
        {% endif %} 

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} 
        </span>

        {% if page_obj.has_next %} 
            {% if isbtn %}
            <button id="{{ id_prefix|default:"" }}next" value="{{ page_obj.next_page_number }}">{% trans 'next' %}</button>
            {% else %}
        <a id="{{ id_prefix|default:"" }}next" href="{{ path|default:request.path }}{{ ln_prefix|default:"" }}{{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        {% endif %} 
    </span>
</div>
{% endif %}
