{% load i18n static %} 
<div class="leftbar" mode="closed"><img src={% static 'sidebar.png' %}>
<div class="leftbar_content">
<h2>Lobby Chat</h2>
<p>Lobby chat is going to be moved here!</p>
<!--
<input name="dname" type="text" value="Your Name">
<input name="demail" type="text" value="Your Email">
<h4>Query type</h4>
<select>
<option>General Query</option>
<option>Presales</option>
<option>Technical</option>
<option>Others</option>
</select>
<textarea>Message</textarea>
<button>Send Message</button>
-->
</div>
</div>
