{% extends 'frames/header_n_footer.html' %} 
{% load i18n %}
{% load static %}

{% block style %} 
    #content {
        float: left;
        width:300px;
       border:1px #eee8d5 solid;
    }
    #chat {
        float: right;
        width:300px;
       border:1px #eee8d5 solid;
    }
{% endblock %} 

{% block title %} Cindy - lobby {% endblock %} 

{% block content %} 
<div id="content">
content here
</div>

<div id="chat">
    <h3 id="lobby_chat"> {% trans "Lobby Chat" %} </h3>
    {% if log_id %} 
    <form action="{% url 'sui_hei:lobby' %}" method="post">
        {% csrf_token %}
        <table class="push_chat">
            <input id="LobbyContent" name="push_chat" type="text">
            <input value="Send" type="submit">
        </table>
    </form>
    {% endif %} 
    {% for chat in chatlist %} 
    <li> <a href="profile/{{ chat.user_id.id }}">{{ chat.user_id.username }}</a> >>
        {{ chat.content|safe }} 
    </li>
    {% endfor %} 
</div>

{% endblock %} 
