{% extends 'frames/base.html' %} 
{% load i18n static markdown %}

{% block style %} 
    #wrap {
        width: 100%;
        padding: 10px;
        border: 1px #eee8d5 solid;
    }
    #content {
        float: left;
        width: 48%;
        border: 1px #eee8d5 solid;
    }
    #chat {
        float: right;
        width: 48%;
        border: 1px #eee8d5 solid;
    }
    #message_box {
        width: 100%;
        float: left;
        position: relative;
        border: 1px #eee8d5 solid;
    }
    #user{
        float: left;
        overflow: auto;
        overflow-wrap: break-word;
        width: 23%;
        word-wrap: break-word;
    }
    #message{
        float: right;
        overflow: auto;
        overflow-wrap: break-word;
        width: 75%;
        word-wrap: break-word;
    }
    .clear {
        clear: both;
    }
{% endblock %} 

{% block title %} Cindy - lobby {% endblock %} 

{% block content %} 
<div id="wrap">
    <div id="content">
    content here
    </div>

    <div id="chat">
        <h3 id="lobby_chat"> {% trans "Lobby Chat" %} </h3>

        {% if user.is_authenticated %} 
        <form action="{% url 'sui_hei:lobby' %}" method="post">
            {% csrf_token %}
            <table class="push_chat">
                <input id="LobbyContent" name="push_chat" type="text">
                <input value="Send" type="submit">
            </table>
        </form>
        {% endif %} 

        <div class="pagination">
            <span class="step-links">
                {% if chatlist.has_previous %} 
                <a href="{{ chatlist.previous_page_number }}">{% trans 'prev' %}</a>
                {% endif %} 

                <span class="current">
                    Page {{ chatlist.number }} of {{ chatlist.paginator.num_pages }} 
                </span>

                {% if chatlist.has_next %} 
                <a href="{{ chatlist.next_page_number }}">{% trans 'next' %}</a>
                {% endif %} 
            </span>
        </div>

        {% for chat in chatlist %} 
        <div id="message_box">
            <div id="user"> 
                <a href="/profile/{{ chat.user_id.id }}">{{ chat.user_id.nickname }}</a> : 
            </div>
            <div id="message">{{ chat.content|line2md|safe }} </div>
        </div>
        {% endfor %} 

    </div>
    <div class="clear"></div>
</div>
{% endblock %} 
