{% extends 'frames/base.html' %} 
{% load i18n static webpack_loader %}

{% block title %} Cindy - mondai - add {% endblock %} 

{% block script_include %}
{% render_bundle 'mondai_add' %}
{% endblock %}

{% block content %} 

<form action="" method="post">
  <legend>{% trans 'NewSoup' %}</legend>
  <div> {% if error_message %} <strong>{{ error_message }}</strong> {% endif %} </div>
  {% csrf_token %}
  <div>
    <table class="table">
    {{ form.as_table }} 
    </table>
  </div>
  <div class="wrapper" style="border:3px solid #728905;">
    <font color=#52676f" size="5px" face="monospace">{% trans 'Content' %} {% trans 'Preview' %}</font>
    <div id="content_preview"></div>
  </div>
  <br>
  <div class="wrapper" style="border:3px solid #728905;">
    <font color=#52676f" size="5px" face="monospace">{% trans 'True Answer' %} {% trans 'Preview' %}</font>
    <div id="kaisetu_preview"></div>
  </div>
  <div><input type="submit" value="{% trans "Confirm" %}" /></div>
</form>

{% endblock %} 
