{% extends 'frames/base.html' %} 
{% load i18n static markdown decodes %}

{% block title %} Cindy - mondai - show {% endblock %} 

{% block style %}
    .clear {
        clear: both
    }
    .HBar {
    }
    .QBlock {
        background: lightblue;
        float: left;
        width: 48%;
        border: 1px solid #268bd288;
        border-radius: 5px;
        padding: 3px;
        font-size: 16px;
    }
    .ABlock {
        float: right;
        width: 48%;
        border: 1px solid #268bd288;
        border-radius: 5px;
        padding: 3px;
        font-size: 16px;
    }
{% endblock %}

{% block content %} 
<h2>{{ mondai.title }} [{{ mondai.genre|genre }}]</h2>

<!-- Content of Question -->
<div class="mondai_content wrapper">
    <ul style="left: 10px;">
        <li>{% trans "Giver" %}: {{ mondai.user_id.nickname }}</li>
        <li>{% trans "Give time" %}: {{ mondai.created }}</li>
    </ul>
    {{ mondai.content|text2md|safe }}
</div>
<!-- End Content of Question -->
<br>
<!-- Q&A -->
{% if user == mondai.user_id %}
<form action="{% url 'sui_hei:mondai_show_push_answ' %}" method="post">
{% csrf_token %}
{% endif %}
<div class="mondai_qna">
    {% for qna in qnas %}
    <div class="HBar">
        <div class="QBlock">
            {{ qna.shitumon }}
        </div>
        <div class="ABlock">
            {% if user == mondai.user_id %}
            <!-- for giver -->
                {% if qna.kaitou %} {{ qna.kaitou }} {% else %}
                <input id="answ_input" name="push_answ_{{ qna.id }}" type="text">
                {% endif %}
            <!-- end for giver -->
            {% else %}
            <!-- for others -->
                {% if qna.kaitou %} {{ qna.kaitou }}
                {% else %} <span style="color:#93a1a1">{% trans 'waiting to be answered' %}</span>
                {% endif %}
            <!-- end for others -->
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
{% if user == mondai.user_id %}
<input value="Put Answer" type="submit">
{% endif %}
</form>
<!-- End Q&A -->
<br>
<!-- Answer of Question -->
{% if mondai.seikai %}
<div class="mondai_kaisetu wrapper">
    <h3 id="true-answer">{% trans "True Answer" %}</h3>
    {{ mondai.kaisetu|text2md|safe }}
</div>
{% else %}
    {% if not user.is_authenticated %}
    <!-- for guests -->
    You are a guest!
    <!-- end for guests -->
    {% elif user == mondai.user_id %}
    <!-- giver panel -->
    <form action="{% url 'sui_hei:mondai_show_update_soup' %}?mondai={{ mondai.id }}" method="post">
        {% csrf_token %}
        <span class="giver_panel">
            <p>{% trans 'True Answer' %}: 
            <textarea id="kaisetu_textarea" name="change_kaisetu">{{ mondai.kaisetu }}</textarea></p>
            <input value="Update" type="submit">
        </span>
    </form>
    <!-- end giver panel -->
    {% else %}
    <!-- paticipants panel -->
    <form action="{% url 'sui_hei:mondai_show_push_ques' %}?mondai={{ mondai.id }}" method="post">
        {% csrf_token %}
        <span class="paticipants_panel">
            <input id="ques_input" name="push_ques" type="text">
            <input value="Put Question" type="submit">
        </span>
    </form>
    <!-- end paticipants panel -->
    {% endif %}
{% endif %}
<!-- End Answer of Question -->

{% endblock %} 
