{% extends 'frames/base.html' %} 
{% load i18n static markdown decodes %}

{% block title %} Cindy - mondai - show {% endblock %} 

{% block pageTitle %}
{{ mondai.title }} [{{ mondai.genre|genre }}] 
{% endblock %}

{% block child_navi %}
{% include 'frames/mondai_child_navi.html' %}
{% endblock %}

{% block style_include %}
<link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
{% endblock %}

{% block script_include %}
<link rel="stylesheet" href="{% static 'mondai_show.css' %}">
<script src={% static 'mondai_show.js' %}></script>
{% endblock %}

{% block script %}
require(['jquery', 'jquery-ui'], function($) {
  var handle = $("#starbar_handle");
  $("#starbar").slider({
    max: 5,
    min: -5,
    step: 0.01,
    value: {{ mystar }},
    create: function(event, ui) {
      $("#starbarind").val({{ mystar }});
      handle.css('width', 30+2*{{ mystar }}+"px");
      handle.css('height', 30+2*{{ mystar }}+"px");
      handle.css('margin-top', -7.5-{{ mystar }}+"px");
    },
    slide: function(event, ui){
      $("#starbarind").val(ui.value);
      handle.css('width', 30+2*ui.value+"px");
      handle.css('height', 30+2*ui.value+"px");
      handle.css('margin-top', -7.5-ui.value+"px");
    }
  });
  $("#change_seikai_ckbx").on("click", function() {
    if (this.checked) {
      return confirm("{% trans 'You cannot revert change if you put the true answer!' %}\n{% trans 'Continue?' %}")
    }
  });
});
{% endblock %}

{% block extra_header %}
{% if mondai.memo %}
<div class="memobar rightbar" mode={{ mode|default:"closed" }} >
    <script type="text/javascript">
        require(['jquery'], function ($) {
            // handling chat://
            $(".memobar_content").html($(".memobar_content").html().replace(/\"chat:\/\/([0-9a-zA-Z\-]+)\"/g, "\"javascript:OpenChat('$1');\""));
        });
    </script>
    <img class="memobar_button rightbar_button" src={% static 'memobar.png' %}>
    <div class="memobar_content rightbar_content">
        <div style="margin-right:15px;">
        {{ mondai.memo|text2md|safe }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %} 
<h2>{{ mondai.title }} [{{ mondai.genre|genre }}]</h2>

<!-- Content of Question -->
<div class="mondai_content wrapper">
    <ul style="left: 10px;">
        <li><b>{% trans "Giver" %}: {{ mondai.user_id.nickname }}
                {% if mondai.user_id.current_award %}[{{ mondai.user_id.current_award }}]{% endif %}</b>
        </li>
        <li>{% trans "Give time" %}: {{ mondai.created }}</li>
    </ul>
    {{ mondai.content|text2md|safe }}
</div>
<!-- End Content of Question -->
<br>
<!-- Q&A -->
{% if user == mondai.user_id %}
<form action="{% url 'sui_hei:mondai_show_push_answ' %}" method="post">
{% csrf_token %}
{% endif %}
<div class="mondai_qna">
    {% for qna in qnas %}
    <!-- if yami -->
    {% if mondai.yami and qna.user_id != user and mondai.user_id != user and not mondai.seikai %}
    {% else %}
    <div class="HBar">
        <div class="QBlock">
            <div style="width:29%; float:left">
                    <a href={% url 'sui_hei:profile' qna.user_id.id %}>{{ qna.user_id.nickname }}</a>
                    {% if qna.user_id.current_award %}[{{ qna.user_id.current_award }}]{% endif %}
            </div>
            <div class="vertical_line"></div>
            <div style="width:69%; float:right;">
                <span style="background:#268bd2; border-radius:20px; padding:2px; color:#ffffff; font:bold">{{ forloop.counter }}</span>
                {{ qna.shitumon|line2md|safe }}
                {% if qna.user_id == user %}
                <a class="qna_edit" href="{% url 'sui_hei:mondai_change' 'Shitumon' 'shitumon' qna.id %}">{% trans '[edit]' %}</a>
                {% endif %}
            </div>
        </div>
        <div class="ABlock">
            {% if user == mondai.user_id %}
            <!-- for giver -->
                {% if qna.kaitou %}
                <div>
                    <div style="width:100%; float:left;">
                        {% if qna.true %}<font size="7" color="#dc322f">&#9996;</font>{% endif %}
                        {% if qna.good %}<font size="7" color="#b58900">&#128077;</font>{% endif %}
                        {{ qna.kaitou|line2md|safe }} 
                        <a class="qna_edit" href="{% url 'sui_hei:mondai_change' 'Shitumon' 'kaitou' qna.id %}">{% trans '[edit]' %}</a>
                    </div>
                {% else %}
                    <div style="width:100%; float:left;">
                        <input id="answ_input" name="push_answ_{{ qna.id }}" type="text">
                    </div>
                {% endif %}
                <div class="clear"></div>
                <div style="border-top: 1px solid #268bd288">
                <input type="checkbox" name="check_goodques_{{ qna.id }}">
                {% if qna.good %}
                    {% trans 'uncheck as good-question' %}
                {% else %}
                    {% trans 'check as good-question' %}
                {% endif %}<br>
                <input type="checkbox" name="check_trueansw_{{ qna.id }}">
                {% if qna.true %}
                    {% trans 'uncheck as true-answer' %}
                {% else %}
                    {% trans 'check as true-answer' %}
                {% endif %}</div>
                </div>
            <!-- end for giver -->
            {% else %}
            <!-- for others -->
                {% if qna.kaitou %} 
                <div style="width:69%; float:left">
                    {% if qna.true %}<font size="7" color="#dc322f">&#9996;</font>{% endif %}
                    {% if qna.good %}<font size="7" color="#b58900">&#128077;</font>{% endif %}
                    {{ qna.kaitou|line2md|safe }} 
                </div>
                <div class="vertical_line"></div>
                <div style="width:29%; float:right;">
                    <a href={% url 'sui_hei:profile' mondai.user_id.id %}>{{ mondai.user_id.nickname }}</a>
                    {% if mondai.user_id.current_award %}[{{ mondai.user_id.current_award }}]{% endif %}
                </div>
                {% else %} <span style="color:#93a1a1">{% trans 'waiting to be answered' %}</span>
                {% endif %}
            <!-- end for others -->
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    {% endif %}
    <!-- end yami -->
    {% endfor %}
</div>
{% if user == mondai.user_id %}
<input value={% trans 'Put Responds' %} type="submit">
{% endif %}
</form>
<!-- End Q&A -->
<br>
<!-- Answer of Question -->
{% if mondai.seikai %}
<div class="mondai_kaisetu wrapper">
    {{ mondai.kaisetu|text2md|safe }}
    <br>
    <div align="center"><div class="hline"></div></div>

    <!-- Evaluation Panel -->
    <input value="{% trans 'Show Comments' %}" type="button" style="font-size: 17px; width:40%; float:left; padding-left:5%; margin-top:6%;"
        id="show_comments" channel="comments-{{ mondai.id }}" onclick="ShowComments()">
    <form id="mondai_star_form" action="{% url 'sui_hei:mondai_star' %}" method="post" style="width:40%; float:right; padding-right:5%;">
        {% csrf_token %}
        <input id="starbarind" type="text" name="starbarind" value="{{ mystar }}" style="visibility:hidden;">
        <div id="starbar"><img id="starbar_handle" class="ui-slider-handle" src="{% static 'star.png' %}"></img></div>
        <input id="starbutton" type="submit" value="{% trans 'Star' %}" style="font-size: 17px;">
    </form>
    <div class="clear"></div>
    {% if mycomment %}
    {% else %}
    <form action="{% url 'sui_hei:mondai_show' mondai.id %}" method="post">
        {% csrf_token %}
        <span class="paticipants_panel">
            <input id="comment_input" name="push_chat" type="text" style="width:78%;">
            <input value="{% trans 'Add Comments' %}" type="submit" style="width:20%; font-size: 17px;">
        </span>
    </form>
    {% endif %}
    <br>
    <!-- Evaluation Panel -->
</div>
<!-- giver panel -->
<form class="wrapper" action="{% url 'sui_hei:mondai_show_update_soup' %}" method="post">
    {% csrf_token %}
    <span class="giver_panel">
        <div>{% trans 'Memo' %}: 
        <textarea id="memo_textarea" name="change_memo">{{ mondai.memo }}</textarea></div>

        <input type="checkbox" name="toggle_yami">
        {% if mondai.yami %}{% trans 'uncheck as yami' %}{% else %}{% trans 'check as yami' %}{% endif %}<br>
        <input value="{% trans 'Update' %}" type="submit">
    </span>
</form><br>
<!-- end giver panel -->
{% else %}
    {% if not user.is_authenticated %}
    <!-- for guests -->
    <a href="{% url "sui_hei:login" %}">{% trans 'Hello guest! I need to know who you are before you ask a question!' %}</a>
    <!-- end for guests -->
    {% elif user == mondai.user_id %}
    <!-- giver panel -->
    <form action="{% url 'sui_hei:mondai_show_update_soup' %}" method="post">
        {% csrf_token %}
        <span class="giver_panel">
            <div style="float:left; width:44%;">{% trans 'Memo' %}: 
            <textarea id="memo_textarea" name="change_memo">{{ mondai.memo }}</textarea></div>

            <div style="float:right; width:55%;">{% trans 'True Answer' %}: 
            <textarea id="kaisetu_textarea" name="change_kaisetu">{{ mondai.kaisetu }}</textarea></div>

            <div class="clear"></div>

            <input type="checkbox" name="toggle_yami">
            {% if mondai.yami %}{% trans 'uncheck as yami' %}{% else %}{% trans 'check as yami' %}{% endif %}<br>
            <input type="checkbox" name="change_seikai" id="change_seikai_ckbx">
            {% trans 'Put True Answer' %}<br>
            <input value="{% trans 'Update' %}" type="submit">
        </span>
    </form><br>
    <div class="wrapper" style="border:3px solid #728905;">
        <font color=#52676f" size="5px" face="monospace">{% trans 'True Answer' %} {% trans 'Preview' %}</font>
        <div id="kaisetu_preview"></div>
    </div>
    <!-- end giver panel -->
    {% else %}
    <!-- paticipants panel -->
    <form action="{% url 'sui_hei:mondai_show_push_ques' %}" method="post">
        {% csrf_token %}
        <span class="paticipants_panel">
            <input id="ques_input" name="push_ques" type="text">
            <input value="{% trans 'Put Question' %}" type="submit">
        </span>
    </form>
    <!-- end paticipants panel -->
    {% endif %}
{% endif %}
<!-- End Answer of Question -->

{% endblock %} 
