{% extends 'frames/base.html' %} 
{% load i18n %}

{% block child_navi %}
{% include 'frames/mondai_child_navi.html' %}
{% endblock %}

{% block title %} Cindy - mondai - add {% endblock %} 

{% block script %}
$(document).ready(function() {
  $("#content_preview")[0].innerHTML = marked($("#id_content").val());
  $("#kaisetu_preview")[0].innerHTML = marked($("#id_kaisetu").val());

  $("#id_content").on('input', function(){
    $("#content_preview")[0].innerHTML = marked($("#id_content").val());
  });

  $("#id_kaisetu").on('input', function(){
    $("#kaisetu_preview")[0].innerHTML = marked($("#id_kaisetu").val());
  });
});
{% endblock %}

{% block content %} 

<form action="" method="post">
<div> {% if error_message %} <strong>{{ error_message }}</strong> {% endif %} </div>
{% csrf_token %}
<div>
    <table style="width:100%;">
    {{ form.as_table }} 
    </table>
</div>
<div class="wrapper" style="border:3px solid #728905;">
    <font color=#52676f" size="5px" face="monospace">{% trans 'Content' %} {% trans 'Preview' %}</font>
    <div id="content_preview"></div>
</div>
<br>
<div class="wrapper" style="border:3px solid #728905;">
    <font color=#52676f" size="5px" face="monospace">{% trans 'True Answer' %} {% trans 'Preview' %}</font>
    <div id="kaisetu_preview"></div>
</div>
<div><input type="submit" value="{% trans "Confirm" %}" /></div>

{% endblock %} 
