{% extends 'frames/base.html' %} 
{% load i18n static decodes %}

{% block title %} Cindy - mondai {% endblock%} 

{% block child_navi %}
{% include 'frames/mondai_child_navi.html' %}
{% endblock %}

{% block content %} 

<h2 id="trans-all-soups">{% trans 'All Soups' %}</h2>

{% include 'frames/pagination.html' with ln_prefix="/mondai?page=" %}

{% for mondai in mondai_list %}
<ul>
<li>
    {% if mondai.seikai %}
        <span class="status_label solved"><font color="#859900">solved</font></span>
    {% else %}
        <span class="status_label unsolved"><font color="#cb4b16">unsolved</font></span>
    {% endif %}
    
    {% if mondai.shitumon_set|get_unanswered %}
    <span class="process_label unanswered" style="margin-left:5px;">{{ mondai.shitumon_set|get_unanswered }}</span>
    {% else %}
    <span class="process_label answered" style="margin-left:5px;">{{ mondai.shitumon_set|get_unanswered }}</span>
    {% endif %}

    <span class="title_label">
        <a href="/mondai/show/{{ mondai.id }}">{{ mondai.title }} [{{ mondai.genre|genre }}]</a>
    </span>
    {% trans 'Giver' %}: 
    <b><a href="/profile/{{ mondai.user_id.id }}">{{ mondai.user_id.nickname }}</a>
        {% if mondai.user_id.current_award %}[{{ mondai.user_id.current_award }}]{% endif %}</b>
    [{% trans 'created' %}: {{ mondai.created }}]
</li>
</ul>
{% endfor %}

{% endblock %} 
