{% extends 'frames/base.html' %} 
{% load i18n static markdown %}

{% block title %} cindy - profile {% endblock %} 

{% block child_navi %}
{% include 'frames/profile_child_navi.html' %}
{% endblock %}

{% block content %} 
<h2>{% trans 'Latest' %} {% trans 'Comments' %}</h2>
<div class="subbar">
    <table style="width:100%;">
        {% for comment, mondai in comments %}
        <tr><th><a href={% url 'sui_hei:mondai_show' mondai.id %}>{{ mondai }}</a></th>
            <td><a href={% url 'sui_hei:profile' comment.user_id.id %}>{{ comment.user_id.nickname }}</a>
                >> {{ comment.content }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2>{% trans 'Profile' %}</h2>
<table>
    <tr><th>{% trans "Name" %}</th><td>{{ sui_hei_user.nickname }}</td></tr>
    <tr><th>{% trans "Created time" %}</th><td>{{ sui_hei_user.date_joined }}</td></tr>
    <tr><th>{% trans "Last login" %}</th><td>{{ sui_hei_user.last_login }} </td></tr>
    <tr><th>{% trans "Profile" %}
        {% if user == sui_hei_user %}
            <a href="/profile/edit"> [{% trans 'edit' %}] </a>
        {% endif %} 
            </th><td> {{ sui_hei_user.profile|text2md|safe }}
    </td></tr>
        {% if user == sui_hei_user %}
        <tr><th>{% trans "Change password" %}</th><td>
            <a href="{% url 'sui_hei:password_change' %}">{% url 'sui_hei:password_change' %}</a>
        </td></tr>
        {% endif %} 
</table>
{% endblock %} 
