{% extends 'frames/base.html' %} 
{% load i18n %}

{% block title %} Cindy - profile - edit {% endblock %} 

{% block script %}
$(document).ready(function() {
  var inputs = marked($("#id_profile").val());
  inputs = sidebar.LinkNorm(inputs);
  $("#profile_preview")[0].innerHTML = inputs;

  $("#id_profile").on('input', function(){
    var inputs = marked($("#id_profile").val());
    inputs = sidebar.LinkNorm(inputs);
    $("#profile_preview")[0].innerHTML = inputs;
  });
});
{% endblock %}

{% block content %} 

<form action="" method="post">
<div> {% if error_message %} <strong>{{ error_message }}</strong> {% endif %} </div>
{% csrf_token %}
<div style="width:50%;">{{ form.as_p }}</div>
<div id="profile_preview"></div>
<div><input type="submit" value={% trans 'Confirm' %}></div>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %} 
