{% extends 'frames/base.html' %} 
{% load i18n static markdown decodes %}

{% block title %} cindy - profile - mysoup {% endblock %} 

{% block child_navi %}
{% include 'frames/profile_child_navi.html' %}
{% endblock %}

{% block content %}
<h2>{% trans 'Selled Soups' %}</h2>

{% include 'frames/pagination.html' with id_prefix='selled_soups' %}

{% for mondai in mondai_list %}
<ul>
<li>
    {% if mondai.seikai %}
        <span class="status_label solved"><font color="#859900">solved</font></span>
    {% else %}
        <span class="status_label unsolved"><font color="#cb4b16">unsolved</font></span>
    {% endif %}

    <span class="title_label">
        <a href="{% url 'sui_hei:mondai_show' mondai.id %}">{{ mondai.title }} [{{ mondai.genre|genre }}]</a>
    </span>
    {% trans 'Giver' %}: 
    <b><a href="{% url 'sui_hei:profile' mondai.user_id.id %}">{{ mondai.user_id.nickname }}</a>
        {% if mondai.user_id.current_award %}[{{ mondai.user_id.current_award }}]{% endif %}</b>
    [{% trans 'created' %}: {{ mondai.created }}]
</li>
</ul>
{% endfor %}
{% endblock %}
