{% extends 'frames/base.html' %} 
{% load static i18n markdown decodes %}

{% block title %} Cindy - profile - mystar {% endblock %} 

{% block child_navi %}
{% include 'frames/profile_child_navi.html' %}
{% endblock %}

{% block script_include %}
<script type="text/javascript" src="{% static 'js/dist/profile_mystar.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{% trans 'MyStar' %}</h2>

{% include 'frames/pagination.html' with id_prefix='star' ln_prefix='page?' %}

{% for star in star_list %}
<ul>
<li>
    <span class="status_label status_unsolved"><font color="#cb4b16">{{ star.value|normalize_star }}</font></span>

    {% if star.user_id == user %}
    <button class="remove_star_button" style="padding:inherit;background:inherit;color:red;" value={{ star.id }}>⛔</button>
    {% endif %}

    {% with starred_mondai=star.mondai_id %}
    <span class="title_label">
        <a href="{% url 'sui_hei:mondai_show' starred_mondai.id %}">
            [{{ starred_mondai.genre|mondai_genre }}{% if starred_mondai.yami %} × {% trans 'yami' %}{% endif %}]
            {{ starred_mondai.title }}
        </a>
    </span>

    {% if starred_mondai.score > 0 or starred_mondai.user_id == user and starred_mondai.star_set.count > 0 %}
    <span class="mondai_score">
        {{ starred_mondai.score|normalize_star }}✯{{ starred_mondai.star_set.count }}
    </span>
    {% endif %}

    {% with starred_mondai_user=starred_mondai.user_id %}
    <span style="float:right; text-decoration:bold;">
    {% trans 'Giver' %}: 
    <b><a href="{% url 'sui_hei:profile' starred_mondai_user.id %}">{{ starred_mondai_user.nickname }}</a>
        {% if starred_mondai_user.current_award %}[{{ starred_mondai_user.current_award }}]{% endif %}</b>
    [{% trans 'created' %}: {{ starred_mondai.created }}]
    </span>
    {% endwith %}
    {% endwith %}
</li>
</ul>
<div class="clear"></div>
{% endfor %}
{% endblock %}
