{% extends 'frames/base.html' %} 
{% load i18n static markdown decodes %}

{% block title %} cindy - profile - mysoup {% endblock %} 

{% block child_navi %}
{% include 'frames/profile_child_navi.html' %}
{% endblock %}

{% block content %}
<h2>{% trans 'MyStar' %}</h2>

{% include 'frames/pagination.html' with id_prefix='star' %}

{% for star in star_list %}
<ul>
<li>
    <span class="status_label unsolved"><font color="#cb4b16">{{ star.value|normalize_star }}</font></span>

    <span class="title_label">
        <a href="{% url 'sui_hei:mondai_show' star.mondai_id.id %}">{{ star.mondai_id.title }} </a>
    </span>
    {% trans 'Giver' %}: 
    <b><a href="{% url 'sui_hei:profile' star.mondai_id.user_id.id %}">{{ star.mondai_id.user_id.nickname }}</a>
        {% if star.mondai_id.user_id.current_award %}[{{ star.mondai_id.user_id.current_award }}]{% endif %}</b>
    [{% trans 'created' %}: {{ star.mondai_id.created }}]
</li>
</ul>
{% endfor %}
{% endblock %}
