{% extends 'frames/base.html' %} 
{% load i18n markdown decodes %}

{% block title %} cindy - profile - mysoup {% endblock %} 

{% block child_navi %}
{% include 'frames/profile_child_navi.html' %}
{% endblock %}

{% block content %}
<h2>{% trans 'Selled Soups' %}</h2>

{% include 'frames/pagination.html' with id_prefix='selled_soups' %}

{% for mondai in mondai_list %}
<ul>
<li>
    {% if mondai.seikai %}
        <span class="status_label solved"><font color="#859900">solved</font></span>
    {% else %}
        <span class="status_label unsolved"><font color="#cb4b16">unsolved</font></span>
    {% endif %}

    <span class="title_label">
        <a href="{% url 'sui_hei:mondai_show' mondai.id %}">
            [{{ mondai.genre|genre }}{% if mondai.yami %} × {% trans 'yami' %}{% endif %}]
            {{ mondai.title }}
        </a>
    </span>

    {% if mondai.score > 0 or mondai.user_id == user and mondai.star_set.count > 0 %}
    <span class="mondai_score">
        {{ mondai.score|normalize_star }}✯{{ mondai.star_set.count }}
    </span>
    {% endif %}

    <span style="float:right; text-decoration:bold;">
    [{% trans 'created' %}: {{ mondai.created }}]
    </span>
</li>
</ul>
{% endfor %}
{% endblock %}
