body {
  background: #fff9f0;
  line-height: normal;
  margin: 15px;
  padding-top: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 5px;
}
.indexHero {
  background: #f2cd8f;
}
.status_label {
  float: left;
  width: 70px;
  text-align: center;
  border-radius: 10px;
}
.status_solved {
  border: 1px solid #859900;
}
.status_unsolved {
  border: 1px solid #cb4b16;
}
.status_dazed {
  border: 1px solid #259185;
}
.status_hidden {
  border: 1px solid gray;
}
.process_label {
  text-align: center;
  padding: 3px;
  border-radius: 10px;
}
.unanswered {
  background: #b58900;
  font-weight: bold;
  color: #eee8d5;
}
.answered {
  background: #85d514;
  font-weight: bold;
  color: #eee8d5;
}
.title_label {
  width: 50%;
  padding-left: 10px;
}
.mondai_score {
  border: 2px solid #bcc045;
  border-radius: 20px;
  font-family: Courier;
  margin-left: 10px;
  font-weight: bolder;
  color: #bcc045;
  padding: 4px;
}
